{erl_opts, [debug_info
            ,{warnings_as_errors, false}
            ,{parse_transform, lager_transform}
           ]}.

{plugins, [rebar3_auto]}.

{deps, [
        {amqp_cron, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{amqp_leader, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{certifi, "0.7.0"}
        ,{couchbeam, {git, "https://github.com/2600hz/erlang-couchbeam", {ref, "28fce6c340de83f4792d45224c29ec729b8e264d"}}}
        ,{cowboy, {git, "https://github.com/kageds/erlang-cowboy", {tag, "2.8.0-OTP24"}}}
        ,{ecsv, {git, "https://github.com/lazedo/ecsv", {tag, "ecsv-1"}}}
        ,{erlazure, {git, "https://github.com/lazedo/erlazure.git", {tag, "add-start-link"}}}
        ,erlang_localtime
        ,{syslog, {git, "https://github.com/2600hz/erlang-syslog", {ref, "bbad537a1cb5e4f37e672d2e2665659e850662d0"}}}
        ,erlydtl
        ,{eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
        ,folsom
        ,{fusco, {git, "https://github.com/esl/fusco.git", {ref, "0a428471"}}}
        ,{gen_smtp, {git, "https://github.com/2600hz/erlang-gen_smtp", {ref, "3f80bfcd4fd8704739d264eb4d5005d4392f2a35"}}}
        ,gproc
        ,{hep,{git, "https://github.com/lazedo/hep", {tag, "1.5.4"}}}
        ,idna
        ,{inet_cidr, {git, "https://github.com/2600hz/erlang-inet_cidr.git", {tag, "1.0.2"}}}
        ,{jiffy, "1.1.2"}
        ,{jesse, {git, "https://github.com/for-GET/jesse", {tag, "1.5.4"}}}
        ,{jsx, "2.8.0"}
        ,{kazoo, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_amqp, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_apps, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_ast, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_attachments, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_auth, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_bindings, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_caches, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_call, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_config, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_convert, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_couch, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_csv, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_data, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_documents, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_edr, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_endpoint, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_etsmgr, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_events, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_fax, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_fixturedb, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_globals, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_im, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_ips, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_ledgers, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_media, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_modb, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_number_manager, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_oauth, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_perf, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_proper, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_schemas, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_services, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_sip, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_speech, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_stats, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_stdlib, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_tasks, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_templates, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_token_buckets, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_transactions, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_translator, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_voicemail, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_web, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_xml, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{lager, "3.9.2"}
        ,{lager_syslog, {git, "https://github.com/erlang-lager/lager_syslog.git", {tag, "3.0.3"}}}
        ,meck
        ,{metrics, "1.0.1"}
        ,{mimerl, "1.0.2"}
        ,{mustache, {git, "https://github.com/mojombo/mustache.erl.git", {ref, "d0246fe"}}} 
        ,{plists, {git, "https://github.com/2600hz/erlang-plists", {tag, "1.0.0"}}}
        ,poolboy
        ,{rfc3339, {git, "https://github.com/andreineculau/rfc3339.git", {tag,"0.2.1-r15-compat"}}}
        ,{ssl_verify_fun, "1.1.1"}
        ,{trie, {git, "https://github.com/okeuday/trie", {tag, "v1.5.4"}}}
        ,{webseq, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{wsecli, {git, "https://github.com/esl/wsecli.git", {ref, "a89054c"}}}
        ,{zucchini, {git, "https://github.com/devinus/zucchini", {branch, "master"}}}
       ]}.

{overrides, [
    {override, plists, [
        {erl_opts, [{warnings_as_errors, false}]}
    ]}
]}.

{relx,
 [{release, {kazoo, "4.4"},
        [
        sasl
        ,lager
        ,lager_syslog
        ,{eper, none}
        ,{couchbeam, none}
        ,{syntax_tools, none}
        ,{compiler, none}
        ,{runtime_tools, none}
        ,{asn1, none}
        ,{os_mon, none}
        ,{crypto, none}
        ,{public_key, none}
        ,{ssl, none}
        ,{acdc, none}
        ,{ananke, none}
        ,{blackhole, none}
        ,{braintree, none}
        ,{callflow, none}
        ,{call_inspector, none}
        ,{camper, none}
        ,{cccp, none}
        ,{cdr, none}
        ,{conference, none}
        ,{crossbar, none}
        ,{doodle, none}
        ,{ecallmgr, none}
        ,{edr, none}
        ,{fax, none}
        ,{frontier, none}
        ,{hangups, none}
        ,{hotornot, none}
        ,{jonny5, none}
        ,{konami, none}
        ,{media_mgr, none}
        ,{milliwatt, none}
        ,{notify, none}
        ,{omnipresence, none}
        ,{pivot, none}
        ,{pusher, none}
        ,{registrar, none}
        ,{reorder, none}
        ,{skel, none}
        ,{spyvsspy, none}
        ,{stats, none}
        ,{stepswitch, none}
        ,{sysconf, none}
        ,{tasks, none}
        ,{teletype, none}
        ,{trunkstore, none}
        ,{webhooks, none}
        ]},
    {dev_mode, true},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true}
 ]
}.

{profiles, [{prod, [{relx, [ {dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

