{erl_opts, [debug_info, {warnings_as_errors, false}]}.

{deps, [
        {amqp_cron, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{amqp_leader, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{cowboy, {git, "https://github.com/kageds/erlang-cowboy", {tag, "2.8.0-OTP24"}}}
        ,{apns, {git, "https://github.com/2600hz/erlang-apns4erl.git", {tag, "2600hz-2.4.2"}}}
        ,{escalus, {git, "https://github.com/esl/escalus", {ref, "0de0463c345a1ade6fccfb9aadad719b58a1cef5"}}}
        ,{ecsv, {git, "https://github.com/lazedo/ecsv", {tag, "ecsv-1"}}}
        ,{erlazure, {git, "https://github.com/lazedo/erlazure.git", {tag, "add-start-link"}}}
        ,erlang_localtime
        ,erlydtl
        ,{eunit_formatters, ".*", {git, "https://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
        ,{exml, {git, "https://github.com/paulgray/exml", {tag, "2.2.1"}}}
        ,{fcm, {git, "https://github.com/softwarejoint/fcm-erlang.git", {ref, "b2f68a4c6f0f59475597a35e2dc9be13d9ba2910"}}}
        ,folsom
        ,{fusco, {git, "https://github.com/esl/fusco.git", {ref, "0a428471"}}}
        ,{gen_smtp, {git, "https://github.com/2600hz/erlang-gen_smtp", {ref, "3f80bfcd4fd8704739d264eb4d5005d4392f2a35"}}}
        ,gproc
        ,{hep,{git, "https://github.com/lazedo/hep", {tag, "1.5.4"}}}
        ,{inet_cidr, {git, "https://github.com/2600hz/erlang-inet_cidr.git", {tag, "1.0.2"}}}
        ,{jesse, {git, "https://github.com/for-GET/jesse", {tag, "1.5.4"}}}
        ,{kazoo, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_amqp, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_apps, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_ast, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_attachments, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_auth, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_bindings, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_caches, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_call, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_config, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_convert, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_couch, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_csv, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_data, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_documents, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_edr, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_endpoint, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_etsmgr, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_events, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_fax, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_fixturedb, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_globals, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_im, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_ips, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_ledgers, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_media, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_modb, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_number_manager, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_oauth, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_perf, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_proper, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_schemas, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_services, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_sip, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_speech, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_stats, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_stdlib, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_tasks, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_telemetry, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_templates, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_token_buckets, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_transactions, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_translator, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_voicemail, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_web, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{kazoo_xml, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{webseq, {git_subdir, "https://github.com/kageds/kazoo_core.git", {branch, "4.4"}, "apps"}}
        ,{wsecli, {git, "https://github.com/esl/wsecli.git", {ref, "a89054c"}}}
        ,{lager, "3.9.2"}
        ,meck
        ,{mustache, {git, "https://github.com/mojombo/mustache.erl.git", {ref, "d0246fe"}}} 
        ,{plists, {git, "https://github.com/2600hz/erlang-plists", {tag, "1.0.0"}}}
        ,poolboy
        ,{rfc3339, {git, "https://github.com/andreineculau/rfc3339.git", {tag,"0.2.1-r15-compat"}}}
        ,zucchini
       ]}.

{overrides, [
    {override, plists, [
        {erl_opts, [{warnings_as_errors, false}]}
    ]}
]}.

{relx,
 [{release, {kazoo_applications, "4.4"}, 
        [sasl
        ,acdc
        ,ananke
        ,blackhole
        ,braintree
        ,callflow
        ,call_inspector
        ,camper
        ,cccp
        ,cdr
        ,conference
        ,crossbar
        ,doodle
        ,ecallmgr
        ,edr
        ,fax
        ,frontier
        ,hangups
        ,hotornot
        ,jonny5
        ,konami
        ,media_mgr
        ,milliwatt
        ,notify
        ,omnipresence
        ,pivot
        ,pusher
        ,registrar
        ,reorder
        ,skel
        ,spyvsspy
        ,stats
        ,stepswitch
        ,sysconf
        ,tasks
        ,teletype
        ,trunkstore
        ,webhooks
        ]},
  {mode, dev},
  %% automatically picked up if the files
  %% exist but can be set manually, which
  %% is required if the names aren't exactly
  %% sys.config and vm.args
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"}]}.

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}

{profiles,
 [{prod,
   [{relx,
     %% prod is the default mode when prod
     %% profile is used, so does not have
     %% to be explicitly included like this
     [{mode, prod}]}]}]}.

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}

